#nav {
    height: 40px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: right;
    
  }
  #options {
    display: flex;
    margin-right: 30px;
    margin-top: -0px;
  }
  p {
    margin: auto;
    margin-left: 50px;
    font-weight: 600;
    cursor: context-menu;
  }
  #login-form-div {
    height: 300px;
    width: 25%;
    border: 1px solid grey;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 8px;
  }
  h2{
    margin-left: 40%;
    margin-bottom: 40px;
  }  

  #email,#pass{
    margin-left: 24%;
    margin-bottom: 10%;
    padding: 5px;
  }
  #submit{
    margin-left: 40%;
    margin-top: 5%;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: teal;
    color: white;
  }
 